{% extends "base/email_base.txt.j2" %}

{% block content %}
New Invoice Available

A new invoice has been generated for your subscription.

Invoice Summary:
- Invoice Number: #{{ invoice_number }}
- Issue Date: {{ issue_date | format_date }}
- Due Date: {{ due_date | format_date }}
- Amount Due: {{ amount_formatted }}

Payment will be automatically charged to your {{ payment_method }} on {{ due_date | format_date }}.

View Invoice: {{ invoice_url }}
{% endblock %}
